#!/bin/sh

echo -e "\033[0;32m>>>>> Begin Setting Up Ansible <<<<<\033[0m"

{{   if (eq .chezmoi.osRelease.id "arch") -}}
{{     if ne .chezmoi.username "root" -}}
sudo pacman -S --noconfirm ansible
{{     else -}}
pacman -S --noconfirm ansible
{{     end -}}
{{   else if (eq .chezmoi.osRelease.id "ubuntu" "debian") -}}
export TZ=Europe/Moscow
{{     if ne .chezmoi.username "root" -}}
DEBIAN_FRONTEND="noninteractive" sudo apt -y install tzdata
sudo apt install -y ansible
{{     else -}}
DEBIAN_FRONTEND="noninteractive" apt -y install tzdata
apt install -y ansible
{{     end -}}
{{   end -}}

echo -e "\033[0;32m>>>>> Finish Setting Ansible <<<<<\033[0m"
